img{
  height: 160px;
  width: 160px;
  border-radius: 50%;
}

a:link{
  display:block;
  width: 100%;
  color: white;
  text-decoration: none;
}

a:hover{
  font-size: 20px;
  top: 100%;
}

a:visited{
  display:block;
  font-size: 20px;
  width: 100%;
  color: white;
  text-decoration: none;
  top: 100%;
}

.headlines{
  display: inline-flex;
  position: absolute;
  top: 100%;
  height: 100vh;
  width: 100%;
}

.content{
  font-family: Helvetica, Sans-Serif;
  z-index: 50;
  width: 100%;
}

.names{
  font-family: Helvetica, Sans-Serif;
  font-size: 20px;
  color: white;
}

.abt{
    font-family: Helvetica, Sans-Serif;
    font-size: 20px;
    width: 70vh;
    text-align: justify;
    color: white;
}

.TITLE{
  color: white;
  font-size: 60px;
  font-family: Helvetica, Sans-Serif;
  position: absolute;
  top: 35%;
  left: 38%;
  z-index: 70;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block
}

.video{
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  opacity: 70%;
  position: fixed;
}

.overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(black, white);
    opacity: 3.0;
}
