img{
  height: 160px;
  width: 160px;
  border-radius: 50%;
}

/* initial links */
a:link{
  display:block;
  width: 100%;
  color: white;
  text-decoration: none;
}

/* size increases when hovered over */
a:hover{
  font-size: 20px;
  top: 100%;
}

/* link goes back to what it looked like originally */
a:visited{
  display:block;
  font-size: 20px;
  width: 100%;
  color: white;
  text-decoration: none;
  top: 100%;
}

/* cmost of the content*/
.headlines{
  display: inline-flex;
  position: absolute;
  top: 100%;
  height: 100vh;
  width: 100%;
}

/* the different section titles */
.content{
  font-family: Helvetica, Sans-Serif;
  z-index: 50;
  width: 100%;
}

/* names of the cast members*/
.names{
  font-family: Helvetica, Sans-Serif;
  font-size: 20px;
  color: white;
}

/* about paragraph*/
.abt{
    font-family: Helvetica, Sans-Serif;
    font-size: 20px;
    width: 70vh;
    text-align: justify;
    color: white;
}

/* centers title, gives it a font and bigger size, z-index to bring to front*/
.TITLE{
  color: white;
  font-size: 60px;
  font-family: Helvetica, Sans-Serif;
  position: absolute;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 17%;
  z-index: 70;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block
}

/* sets it as full screen and fixed throughout scrolling*/
.video{
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  opacity: 70%;
  position: fixed;
}

/* gradient overlay from black to white */
.overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(black, white);
    opacity: 3.0;
}
